node_modules/
.gradle/
local.properties
*.keystore
!debug.keystore
android/app/build/
android/build/
android/app/src/main/assets/index.android.bundle
.expo/
dist/
ios/
.bundle/
__pycache__/
*.pyc
.DS_Store
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.local
